# Environment Variables

# MySQL
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=controlplane
MYSQL_USER=cpuser
MYSQL_PASSWORD=cppassword

# Redis
REDIS_PASSWORD=redispassword

# Kafka
KAFKA_BROKER_ID=1

# Grafana
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=grafana

# Elasticsearch
ELASTIC_PASSWORD=elastic
